body{
    background-color: rgb(120, 180, 180);
}

.navbar-container{
    background-color: rgb(31, 156, 156);
}

.card-container{
    margin: auto;
}

.single-card{
    height: auto;
    border: 1px solid black;
    
}

.product-image{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: auto;
    margin-bottom: 3px;
}

.card-body.expanded .card-text {
    -webkit-line-clamp: unset;
    height: auto;
}

.see-more {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
